.b-button{
    text-decoration: none;
}
.pack-button{
    background-color: white;
    color: blue;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 20px;
    background-size: 100%;
}
.app-store{
    width:125px;
    height:75px;
    border-radius: 20px;
    padding: 5px;
}
.pack-question !important {
    
}{
    width: 50%;
    height: 50%;
}